<!DOCTYPE html>
<html>
<head>
	<title>Blackjack</title>
	<link rel="stylesheet" href="css/index.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!-- 	// <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	// <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	// <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
	<script type="text/javascript" src="js/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>

	<div class="container" ng-app="blackjackApp" ng-controller="dealerCardCtrl">
		<h2>Pick Dealer Card</h2>
		<div class="flex-container">
			<div class="flex-item card" ng-click="addDealerCard('2')">2</div>
			<div class="flex-item card" ng-click="addDealerCard('3')">3</div>
			<div class="flex-item card" ng-click="addDealerCard('4')">4</div>
			<div class="flex-item card" ng-click="addDealerCard('5')">5</div>
			<div class="flex-item card" ng-click="addDealerCard('6')">6</div>
			<div class="flex-item card" ng-click="addDealerCard('7')">7</div>
			<div class="flex-item card" ng-click="addDealerCard('8')">8</div>
			<div class="flex-item card" ng-click="addDealerCard('9')">9</div>
			<div class="flex-item card" ng-click="addDealerCard('10')">10</div>
			<div class="flex-item card" ng-click="addDealerCard('A')">A</div>
		</div>




	</div>



	<script type="text/javascript" src="js/blackjack.js"></script>

</body>
</html>