<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Blackjack</title>
	<link rel="stylesheet" href="css/index.css">
<!--   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!--   	// <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	// <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="js/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" ng-app="blackjackApp" ng-controller="blackjackCtrl">

	<!-- PARENT TABLE 
	This table constains the stats table and deck table-->
	<table class="table parent-table">
		<tr>
			<td id="parent-td-stats" valign="top">

				<!-- STATS TABLE -->
				<table class="table table-dark stats-table">
					<tr class="stats-tr" id="stats-table-header">
						<td class="stats-td" colspan="20">
							<h1 id="stats-header">Player Statistics</h1>
						</td>
					</tr>

					<tr class="stats-tr" id="player-cards">
						<td class="stats-td" colspan="5">
							<h2>Player Cards: </h2>
						</td>
						<td class="stats-td" id="card-container" colspan="10">
							<div class="card" ng-repeat="card in player.hands[player.curr_hand].cards track by $index">
								<h3 class="card-name">{{card.name}}</h3>
							</div>							
							<div class="card" ng-if="player.hands[player.curr_hand].total_value <= 21">
								<h3 class="card-name" id="card-btn" data-toggle="modal" data-target="#playerModal">+</h3>
							</div>
							<button ng-if="player.hands[player.curr_hand].can_split" ng-click="split(player.curr_hand)">
								<p>SPLIT</p>
							</button>
						</td>
						<td class="stats-td" colspan="5">
							<h2 class="total-header">Total: {{player.hands[player.curr_hand].total_value}}</h2>
						</td>
					</tr>

					<tr class="stats-tr" id="dealer-hand">
						<td class="stats-td" colspan="5">
							<h2>Dealer Card: </h2>
						</td>
						<td class="stats-td" id="card-container" colspan="10">
							<div class="card" ng-if="dealer_hand.card_value != 0 || dealer_hand.card_value === undefined">
								<h3 class="card-name">{{dealer_hand.card_name}}</h3>
							</div>
							<div class="card" data-toggle="modal" data-target="#dealerModal" ng-if="dealer_hand.card_value == 0">
								<h3 class="card-name" id="card-btn">+</h3>
							</div>
						</td>
						<td class="stats-td" colspan="5">
							<h2 class="total-header">Total: {{dealer_hand.card_value}}</h2>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6"></td>
						<td class="stats-td" colspan="7">
							<h2 class="stat">Without Hitting</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h2 class="stat">With Hitting</h2>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Winning</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].win | number: 6}}</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].win_ah | number: 6}}</h3>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Losing</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].lose | number: 6}}</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].lose_ah | number: 6}}</h3>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Pushing</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].push | number: 6}}</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">{{player.hands[player.curr_hand].push_ah | number: 6}}</h3>
						</td>
					</tr>

					<tr class="stats-tr" id="decision">
						<td colspan="20">
							<h2 class="decision">You Should {{player.hands[player.curr_hand].decision}}</h2>
						</td>
					</tr>
				</table>
			</td>
			<td id="parent-td-stats" valign="top">
				<!-- DECK TABLE -->
				<table class="table deck-table">
					<tr class="deck-tr">
						<td class="deck-td" id="deck-table-header" colspan="2">
							<h2>Remove From Deck</h2>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('2')">
								<h3 class="card-name">2</h3>
								<p class="remaining">{{deck.TWO}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('3')">
								<h3 class="card-name">3</h3>
								<p class="remaining">{{deck.THREE}}</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('4')">
								<h3 class="card-name">4</h3>
								<p class="remaining">{{deck.FOUR}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('5')">
								<h3 class="card-name">5</h3>
								<p class="remaining">{{deck.FIVE}}</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('6')">
								<h3 class="card-name">6</h3>
								<p class="remaining">{{deck.SIX}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('7')">
								<h3 class="card-name">7</h3>
								<p class="remaining">{{deck.SEVEN}}</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('8')">
								<h3 class="card-name">8</h3>
								<p class="remaining">{{deck.EIGHT}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('9')">
								<h3 class="card-name">9</h3>
								<p class="remaining">{{deck.NINE}}</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('10')">
								<h3 class="card-name">10</h3>
								<p class="remaining">{{deck.TEN}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn" ng-click="removeDeckCard('A')">
								<h3 class="card-name">A</h3>
								<p class="remaining">{{deck.ACE}}</p>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>




	<!-- Player Modal -->
	<div class="modal fade" id="playerModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Player Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Add Player Card</h4>
		    </div>
		    <div class="modal-body">
		      <div class="flex-container">
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('2')" ng-if="deck.TWO > 0">
							<h3 class="card-name">2</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('3')" ng-if="deck.THREE > 0">
							<h3 class="card-name">3</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('4')" ng-if="deck.FOUR > 0">
							<h3 class="card-name">4</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('5')" ng-if="deck.FIVE > 0">
							<h3 class="card-name">5</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('6')" ng-if="deck.SIX > 0">
							<h3 class="card-name">6</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('7')" ng-if="deck.SEVEN > 0">
							<h3 class="card-name">7</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('8')" ng-if="deck.EIGHT > 0">
							<h3 class="card-name">8</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('9')" ng-if="deck.NINE > 0">
							<h3 class="card-name">9</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('10')" ng-if="deck.TEN > 0">
							<h3 class="card-name">10</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('A')" ng-if="deck.ACE > 0">
							<h3 class="card-name">A</h3>
						</div>
					</div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>


	<!-- Dealer Modal -->
	<div class="modal fade" id="dealerModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Dealer Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Add Dealer Card</h4>
		    </div>
		    <div class="modal-body">
		      <div class="flex-container">
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('2')" ng-if="deck.TWO > 0">
							<h3 class="card-name">2</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('3')" ng-if="deck.THREE > 0">
							<h3 class="card-name">3</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('4')" ng-if="deck.FOUR > 0">
							<h3 class="card-name">4</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('5')" ng-if="deck.FIVE > 0">
							<h3 class="card-name">5</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('6')" ng-if="deck.SIX > 0">
							<h3 class="card-name">6</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('7')" ng-if="deck.SEVEN > 0">
							<h3 class="card-name">7</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('8')" ng-if="deck.EIGHT > 0">
							<h3 class="card-name">8</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('9')" ng-if="deck.NINE > 0">
							<h3 class="card-name">9</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('10')" ng-if="deck.TEN > 0">
							<h3 class="card-name">10</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('A')" ng-if="deck.ACE > 0">
							<h3 class="card-name">A</h3>
						</div>
					</div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>

	<button class="btn btn-primary" ng-click="resetGame()">RESET</button>

	<script type="text/javascript" src="js/blackjack.js"></script>





</div>
</body>
</html>
