@charset “UTF-8″;

:root 
{
  --table_height: 400px;
  --table_width: 65%;
  --card_height: 60px;
  --card_width: 40px;
}

.parent-table
{
	margin: auto;
}
#parent-td-stats
{
	width: (calc(var(--table_width) * 2) / 3;
}

#parent-td-deck
{
	width: calc(var(--table_width) / 3;
}

#stats-header
{
	text-align: center;
	margin: auto;
}
.stats-table {
	border: 5px solid black;
	border-radius: 50px;
	height: var(--table_height);
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	margin: auto;
}

#card-container .card 
{
	display: inline-block;
}

.card 
{
	height: var(--card_height);
	width: var(--card_width);
	border: 1px solid black;
	border-radius: calc(var(--card_height) / 5);
	position: relative;
	margin: calc(var(--card_width) / 5);
}

#card-btn:hover
{
	cursor: pointer; 
	cursor: hand;
}


.card-name
{
	line-height: var(--card_height);
	text-align: center;
	margin: auto;
}
.remaining
{
	bottom: 0;
	right: 0;
	margin: 0;
	position: absolute;
	padding: calc(var(--card_height) / 30);
}


.stats-td
{
	border: 1px solid black;
}

.stats-tr 
{
	border: 1px solid black;
	width: 100%;
}

.stat 
{
	margin: auto;
	text-align: center;
}

.decision
{
	height: calc(var(--table_height) / 4);
	line-height: calc(var(--table_height) / 4);
	margin: auto;
	text-align: center;
}

.flex-container 
{
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    padding: 10px;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item 
{
	margin: 10px;
}

.deck-table
{
	height: var(--table_height);
	width: 100%;
	border: 5px solid black;
}

#deck-table-header
{
	margin: auto;
	text-align: center;
	border: 1px solid black;
}

/*.deck-td
{
	border: 1px solid black;
}*/

.deck-tr 
{
	/*border: 1px solid black;*/
	width: 100%;
}

.parent-table
{
	width: var(--table_width);
}
