<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--   	// <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	// <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>
<div class="container" ng-app="blackjackApp" ng-controller="blackjackCtrl">

	<!-- PARENT TABLE 
	This table constains the stats table and deck table-->
	<table class="parent-table">
		<tr>
			<td id="parent-td-stats" valign="top">

				<!-- STATS TABLE -->
				<table class="stats-table">
					<tr class="stats-tr" id="stats-table-header">
						<td class="stats-td" colspan="20">
							<h1 id="stats-header">Player Statistics</h1>
						</td>
					</tr>

					<tr class="stats-tr" id="player-cards">
						<td class="stats-td" colspan="5">
							<h2>Player Cards: </h2>
						</td>
						<td class="stats-td" id="card-container" colspan="10">
							<div class="card">
								<h3 class="card-name">10</h3>
							</div>
							<div class="card">
								<h3 class="card-name">8</h3>
							</div>
							<div class="card">
								<h3 class="card-name" id="card-btn" data-toggle="modal" data-target="#playerModal">+</h3>
							</div>
						</td>
						<td class="stats-td" colspan="5">
							<h2 class="total-header">Total: 18</h2>
						</td>
					</tr>

					<tr class="stats-tr" id="dealer-hand">
						<td class="stats-td" colspan="5">
							<h2>Dealer Card: </h2>
						</td>
						<td class="stats-td" id="card-container" colspan="10">
							<div class="card">
								<h3 class="card-name">4</h3>
							</div>
							<div class="card" data-toggle="modal" data-target="#dealerModal">
								<h3 class="card-name" id="card-btn">+</h3>
							</div>
						</td>
						<td class="stats-td" colspan="5">
							<h2 class="total-header">Total: 4</h2>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6"></td>
						<td class="stats-td" colspan="7">
							<h2 class="stat">Without Hitting</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h2 class="stat">With Hitting</h2>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Winning</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Losing</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
					</tr>

					<tr class="stats-tr">
						<td class="stats-td" colspan="6">
							<h2>Pushing</h2>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
						<td class="stats-td" colspan="7">
							<h3 class="stat">0.1234</h3>
						</td>
					</tr>

					<tr class="stats-tr" id="decision">
						<td colspan="20">
							<h2 class="decision">You Should STAND</h2>
						</td>
					</tr>
				</table>
			</td>
			<td id="parent-td-stats" valign="top">
				<!-- DECK TABLE -->
				<table class="deck-table">
					<tr class="deck-tr">
						<td class="deck-td" id="deck-table-header" colspan="2">
							<h2>Remove From Deck</h2>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">2</h3>
								<p class="remaining">{{deck.TWO}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">3</h3>
								<p class="remaining">4</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">4</h3>
								<p class="remaining">4</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">5</h3>
								<p class="remaining">4</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">6</h3>
								<p class="remaining">4</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">7</h3>
								<p class="remaining">4</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">8</h3>
								<p class="remaining">4</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">9</h3>
								<p class="remaining">4</p>
							</div>
						</td>
					</tr>
					<tr class="deck-tr">
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">10</h3>
								<p class="remaining">{{deck.TEN}}</p>
							</div>
						</td>
						<td class="deck-td">
							<div class="flex-item card" id="card-btn">
								<h3 class="card-name">A</h3>
								<p class="remaining">4</p>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>




	<!-- Player Modal -->
	<div class="modal fade" id="playerModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Player Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Add Player Card</h4>
		    </div>
		    <div class="modal-body">
		      <div class="flex-container">
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('2')">
							<h3 class="card-name">2</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('3')">
							<h3 class="card-name">3</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('4')">
							<h3 class="card-name">4</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('5')">
							<h3 class="card-name">5</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('6')">
							<h3 class="card-name">6</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('7')">
							<h3 class="card-name">7</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('8')">
							<h3 class="card-name">8</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('9')">
							<h3 class="card-name">9</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('10')">
							<h3 class="card-name">10</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addPlayerCard('A')">
							<h3 class="card-name">A</h3>
						</div>
					</div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>


	<!-- Dealer Modal -->
	<div class="modal fade" id="dealerModal" role="dialog">
		<div class="modal-dialog">

		  <!-- Dealer Modal content-->
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Add Player Card</h4>
		    </div>
		    <div class="modal-body">
		      <div class="flex-container">
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('2')">
							<h3 class="card-name">2</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('3')">
							<h3 class="card-name">3</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('4')">
							<h3 class="card-name">4</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('5')">
							<h3 class="card-name">5</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('6')">
							<h3 class="card-name">6</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('7')">
							<h3 class="card-name">7</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('8')">
							<h3 class="card-name">8</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('9')">
							<h3 class="card-name">9</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('10')">
							<h3 class="card-name">10</h3>
						</div>
						<div class="flex-item card" id="card-btn" ng-click="addDealerCard('A')">
							<h3 class="card-name">A</h3>
						</div>
					</div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>







</div>
</body>
</html>
